sch/field-functions.sch.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" 
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
  xmlns:dbk="http://docbook.org/ns/docbook"
  queryBinding="xslt2">
  
  <ns prefix="w" uri="http://schemas.openxmlformats.org/wordprocessingml/2006/main"/>
  <ns prefix="dbk" uri="http://docbook.org/ns/docbook" />

  <title>docx</title>

  <let name="base-dir" value="/*/dbk:info/dbk:keywordset[@role eq 'hub']/dbk:keyword[@role eq 'source-dir-uri']"/>

  <pattern id="dangling-indexterm-ranges">
    <rule context="w:instrText[matches(., '^\s*XE.+ \\r ')]">
      <let name="bookmark-name" value="replace(., '^.+\\r\s+&quot;([^&quot;]*)&quot;.*$', '$1')"/>
      <assert test="exists(//w:bookmarkStart[@w:name = $bookmark-name])" id="range-not-found"  role="warning" diagnostics="range-not-found_de">
        <span class="srcpath"><xsl:value-of select="concat(
                                                      $base-dir, 
                                                      ancestor::w:p[1]/@srcpath
                                                    )"/></span>
        <span class="category">docx</span>
        <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Bookmark range not found</span>
           The index term instruction text '<value-of select="."/>' requested a bookmark range '<value-of select="$bookmark-name"/>' 
        that could not be located in the document. Reverting to a plain (non-range) index term.
      </assert>
    </rule>
  </pattern>

  <pattern id="fnmarks">
    <rule context="w:p[w:r/w:footnoteRef]">
      <let name="marker-style" value="w:r[w:footnoteRef]/@role"/>
      <assert test="count(w:r[@role = $marker-style]) le 1" role="warning" id="footnote_mark_style" diagnostics="footnote_mark_style_de">
        <span class="srcpath"><xsl:value-of select="concat($base-dir,@srcpath)"/></span>
        <span class="category">docx</span>
        <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Footnote marker style</span>
        Apparently more text than just the footnote marker has the footnote marker style, '<value-of select="$marker-style"/>'.
        Text with this marker style: '<value-of select="string-join(w:r[@role = $marker-style], '')"/>'.
        This text may be removed during conversion.
      </assert>
    </rule>
  </pattern>

  <pattern id="docx_tables">
    <rule context="w:table">
      <report test="every $tr in w:tr satisfies $tr[w:trPr/w:tblHeader or w:tblHeader]" role="info" id="table_headers_only" diagnostics="table_headers_only_de">
        <span class="srcpath"><xsl:value-of select="string-join(
                                                      (
                                                        $base-dir, 
                                                        ((ancestor::*[@srcpath][1] | descendant::*[@srcpath][1])/@srcpath)[last()]
                                                      ), ''
                                                    )"/></span>
        <span class="category">docx</span>
        <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Table headers only</span>
        All table rows are marked as table header, found no body rows. The docx converter moves all table header rows to table body, otherwise the resulting XML would be invalid.</report>
    </rule>
  </pattern>
  
  <pattern id="unsupported">
    <rule context="w:instrText">
      <assert test="matches(., '^\s*(AUTOTEXT|SEQ|STYLEREF|REF|EQ|eq|FORMCHECKBOX|HYPERLINK|INCLUDEPICTURE|PAGEREF|PRINT|SET|SYMBOL|TOC|XE|xe|NUMPAGES|MERGEFORMAT)\s+')" 
        role="warning" id="unsupported_field_function" diagnostics="unsupported_field_function_de">
        <span class="srcpath"><xsl:value-of select="string-join(($base-dir, ../@srcpath), '')"/></span>
        <span class="category">docx</span>
        <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Unsupported field function</span>
        The field function '<xsl:value-of select="."/>' is not supported.</assert>
      <report test="matches(text(),'\w*:\w*:\w*:\w*')" role="warning" id="too_many_indexterms" diagnostics="too_many_indexterms_de">
        <span class="srcpath"><xsl:value-of select="string-join(($base-dir, ../@srcpath), '')"/></span>
        <span class="category">docx</span>
        <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Too many indexterms</span>
        At this field function '<xsl:value-of select="."/>' too many indexterm were used. Please use at maximum 3 indexterms.
      </report>
    </rule>
  </pattern>
  <!--xe "Wärmekapazität:spezifische:Tafel:Gas-->

  <diagnostics>
    <diagnostic id="range-not-found_de" xml:lang="de">
      <span class="category">docx</span>
      <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Lesezeichen-Bereich nicht gefunden</span>
      Der Indexbegriff '<value-of select="."/>' verweist auf einen Lesezeichen-Bereich '<value-of select="$bookmark-name"/>', 
        der im Dokument nicht gefunden wurde. Er wird deshalb nun wie ein normaler (Nicht-Bereichs-) Indexbegriff behandelt.
    </diagnostic>
    <diagnostic id="footnote_mark_style_de">
      <span class="category">docx</span>
      <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Fußnotenzeichenstil</span>
      Anscheinend hat mehr Text als bloß der Fußnotenmarker das Zeichenformat '<value-of select="$marker-style"/>'.
        Text mit diesem Format: '<value-of select="string-join(w:r[@role = $marker-style], '')"/>'.
        Dieser Text könnte während der Konvertierung entfernt werden.
    </diagnostic>
    <diagnostic id="unsupported_field_function_de" xml:lang="de">
      <span class="category">docx</span>
      <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Nicht unterstützte Feldfunktion</span>
      Die Feldfunktion '<xsl:value-of select="."/>' wird nicht unterstützt.</diagnostic>
    <diagnostic id="too_many_indexterms_de" xml:lang="de">
      <span class="category">docx</span>
      <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Zu viele Indexeinträge</span>
      In dieser Feldfunktion '<xsl:value-of select="."/>' sind zu viele Indexeinträge verwendet worden. Bitte nutzen Sie maximal 3 Indexeinträge.</diagnostic>
    <diagnostic id="table_headers_only_de" xml:lang="de"><span class="category">docx</span>
      <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Nur Tabellenkopf</span>
      In dieser Tabelle wurden alle Tabellenzeilen als TabellenkÃpfe ausgezeichnet. Der docx-Konverter hat deshalb alle Tabellenzeilen in den Bauch der Tabelle verschoben, da sonst das resultierende XML invalide wÃŒrde.</diagnostic>
  </diagnostics>
  
</schema>
