sch/result.sch.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" 
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
  xmlns:dbk="http://docbook.org/ns/docbook"
  queryBinding="xslt2" xml:lang="en">
  
  <ns prefix="w" uri="http://schemas.openxmlformats.org/wordprocessingml/2006/main"/>
  <ns prefix="dbk" uri="http://docbook.org/ns/docbook" />

  <title>docx</title>

  <let name="base-dir" value="/*/dbk:info/dbk:keywordset[@role eq 'hub']/dbk:keyword[@role eq 'source-dir-uri']"/>
  
  <pattern id="docx_unbalanced_field_functions_pattern">
    <rule context="*[processing-instruction(letex)[starts-with(., 'W2D_094')]]">
      <let name="pi-text"  value="string-join(
                                    for $pi in processing-instruction(letex)[starts-with(., 'W2D_094')]
                                    return concat('''', replace($pi, '^W2D_094\s+', ''), ''''),
                                    ', '
                                  )"/>
      <report test="true()" id="docx_unbalanced_field_functions" diagnostics="docx_unbalanced_field_functions_de" role="error">
        <span class="srcpath"><xsl:value-of 
          select="for $s in tokenize(ancestor-or-self::*[@srcpath][1]/@srcpath, '\s+')
                  return concat($base-dir, $s)"/></span>
        <span class="category">docx</span>
        <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Unbalanced field functions</span>
        There was an error (infinite loop) in finding matching start/end markers for field functions.
        This is typically caused by inadvertent removal of one of the markers while “track changes” is active.
        Word has some autocorrection capability for these things that this converter lacks. 
        Please accept all changes in the document and convert it again. If there are no tracked changes,
        please ask for help. In the absence of a more specific contact, you may turn to <a xmlns="http://www.w3.org/1999/xhtml" 
          href="mailto:support@le-tex.de">support@le-tex.de</a>. This text – probably a mix of instruction 
        text and regular text – might give you a hint where the error occured: <xsl:value-of select="$pi-text"/>.
      </report>
      
    </rule>
  </pattern>

  <pattern id="docx_unbalanced_table_columns_pattern">
    <let name="max_calc_colnum"
      value="max(for $r in dbk:tgroup/*/dbk:row return (count($r/*:entry[not(@namest or @nameend)]) + sum(for $span in $r/dbk:entry[@namest and @nameend] return 1 + xs:integer(substring-after($span/@nameend, 'col')) - xs:integer(substring-after($span/@namest, 'col')))))"/>
    <rule context="//dbk:informaltable[count(dbk:tgroup/dbk:colspec) gt $max_calc_colnum]">
      <report test="true()" id="docx_unbalanced_table_columns" diagnostics="docx_unbalanced_table_columns_de" role="warning">
        <span class="srcpath"><xsl:value-of select="concat($base-dir, @srcpath)"/></span>
        <span class="category">docx</span>
        <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Unbalanced table columns</span>
        There are more columns defined than actually needed. The number of defined columns is <xsl:value-of
          select="count(dbk:tgroup/dbk:colspec)"/> and the number of maximal used is <xsl:value-of
          select="$max_calc_colnum"/>.
        <br xmlns="http://www.w3.org/1999/xhtml"/>
        Please check if some or all table cells can be merged or renewed. Try to solve column spans.
        Otherwise the table will stay in xml in the current state: more columns defined than needed.
      </report>
      
    </rule>
  </pattern>

  <diagnostics>
    <diagnostic id="docx_unbalanced_field_functions_de" xml:lang="de">
      <span class="category">docx</span>
      <span class="issue" xmlns="http://www.w3.org/1999/xhtml">Feldfunktionen: Schachtelung falsch</span>
      Es gab einen Fehler (unendliche Rekursion) beim Zuordnen von Start-/Endemarkierungen für Feldfunktionen.
      Dies wird typischerweise dadurch verursacht, dass solche Markierungen bei eingeschalteter Änderungsverfolgung 
      unbeabsichtigt mit entfernt werden. Word kann derlei wohl korrigieren, dieser Konverter jedoch nicht.
      Deshalb bitten wir Sie, sämtliche Änderungen zu akzeptieren und das Dokument erneut zu konvertieren.
      Sollte das Dokument keine Änderungsmarkierung enthalten, so wenden Sie sich bitte an den Support (wenn nichts
      anderes angegeben, an <a xmlns="http://www.w3.org/1999/xhtml" href="mailto:support@le-tex.de">support@le-tex.de</a>).
      Dieser Text könnte einen Hinweis auf den Fehlerort und -text geben: <xsl:value-of select="$pi-text"/>.
    </diagnostic>
    <diagnostic id="docx_unbalanced_table_columns_de" xml:lang="de">
      <span class="category">docx</span>
      <span class="issue" xmlns="http://www.w3.org/1999/xhtml"></span>
      Es sind mehr Tabellenspalten definiert als tatsächlich gebraucht werden. Definierte Spalten sind <xsl:value-of
          select="count(*:tgroup/*:colspec)"/> vorhanden. Die Anzahl an maximal benötigter Spalten ist <xsl:value-of
          select="$max_calc_colnum"/>.
        <br xmlns="http://www.w3.org/1999/xhtml"/>
        Bitte prüfen, ob Tabellenzellen zusammengeführt oder erneuert werden können.
        Andernfalls verbleibt die Tabelle XML-seitig im aktuellen Stand: mehr Tabellenspalten definiert als benötigt werden. 
    </diagnostic>
  </diagnostics>
  
</schema>
