sch/single-tree.sch.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" 
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
  xmlns:dbk="http://docbook.org/ns/docbook"
  queryBinding="xslt2">
  
  <ns prefix="w" uri="http://schemas.openxmlformats.org/wordprocessingml/2006/main"/>
  <ns prefix="a" uri="http://schemas.openxmlformats.org/drawingml/2006/main"/>
  <ns prefix="pic" uri="http://schemas.openxmlformats.org/drawingml/2006/picture"/>
  <ns prefix="m" uri="http://schemas.openxmlformats.org/officeDocument/2006/math"/>
  <ns prefix="o" uri="urn:schemas-microsoft-com:office:office"/>

  <let name="base-dir" value="//w:root/@extract-dir-uri"/>
  
  <pattern id="table">
      <rule context="w:p[w:pPr/w:pStyle/@w:val='Tablecolumnhead']">
      <let name="current_table" value="ancestor::w:tbl[1]"/>
      <report id="multipe_formattings_for_tablecolumnhead" role="warning"
        test="preceding::w:p[not(ancestor::w:tc[1]/w:tcPr/w:vMerge)]
                            [w:pPr/w:pStyle/@w:val=('Tablebody')]
                            [. &gt;&gt; $current_table]">
        <span class="srcpath"><xsl:value-of select="string-join(($base-dir, replace(@srcpath,'^(.*word/document\.xml)','word/document.xml')), '')"/></span>
        Dieser Absatz wurde als Tabellenkopf ausgezeichnet. Vorher (innerhalb dieser Tabelle) befinden sich allerdings schon Tablebody-Zellen. Durch die Konvertierung wurden alle als Kopf ausgezeichneten Absätze nach ganz oben in die Tabelle verschoben. Wenn dies nicht gewünscht ist, Auszeichnung bitte korrigieren und noch einmal konvertieren.
      </report>
    </rule>
  </pattern>
  
    <pattern id="crop">
      <rule context="a:graphic">
      <report id="cropped_image" role="warning" test="a:graphicData/pic:pic/pic:blipFill/a:srcRect[@r or @b]">
        <span class="srcpath"><xsl:value-of select="string-join(($base-dir, replace(ancestor::w:p/@srcpath,'^(.*word/document\.xml)','word/document.xml')), '')"/></span>
       Dieses Bild wurde zugeschnitten
      </report>
    </rule>
  </pattern>
  
  <pattern id="instrText">
    <rule context="*[w:r[w:instrText]/following-sibling::*[1][self::m:oMath and following-sibling::*[1][self::w:r/w:instrText]]]">
      <report id="instrText_math" role="warning" test="true()">
        <span class="srcpath"><xsl:value-of select="string-join(($base-dir, replace(@srcpath,'^(.*word/document\.xml)','word/document.xml')), '')"/></span>
        Hier wurde eine Formel innerhalb einer Feldfunktion verwendet.
      </report>
    </rule>
  </pattern>
  
  <pattern id="MTEF2">
    <rule context="w:object/o:OLEObject[@Type eq 'Embed' and @ProgID eq 'Equation.2']">
      <report id="MathType_v2_formula" role="warning" test="/*/@mathtype2mml[. eq 'yes']">
        <span class="srcpath"><xsl:value-of select="string-join(($base-dir, replace(ancestor::*[local-name() = ('p', 'tbl')]/@srcpath, '^(.*word/document\.xml)','word/document.xml')), '')"/></span>
        MathType-Formeln mit der Formatversion 2 können aktuell noch nicht nach MathML gewandelt werden. Bitte durch eine neuere Version ersetzen (Vorgehen: Formel anwählen/anklicken und im sich dann öffnenden Word-Formeleditor einfach nochmal speichern).
      </report>
    </rule>
  </pattern>
  
</schema>
