sch/single-tree.sch.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" 
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
  xmlns:dbk="http://docbook.org/ns/docbook"
  queryBinding="xslt2">
  
  <ns prefix="w" uri="http://schemas.openxmlformats.org/wordprocessingml/2006/main"/>
  <ns prefix="a" uri="http://schemas.openxmlformats.org/drawingml/2006/main"/>
  <ns prefix="pic" uri="http://schemas.openxmlformats.org/drawingml/2006/picture"/>
  <ns prefix="m" uri="http://schemas.openxmlformats.org/officeDocument/2006/math"/>
  <ns prefix="o" uri="urn:schemas-microsoft-com:office:office"/>

  <title>docx</title>

  <let name="base-dir" value="//w:root/@extract-dir-uri"/>
  
  <pattern id="table">
      <rule context="w:p[w:pPr/w:pStyle/@w:val='Tablecolumnhead']">
      <let name="current_table" value="ancestor::w:tbl[1]"/>
      <report id="multipe_formattings_for_tablecolumnhead" role="warning"
        test="preceding::w:p[not(ancestor::w:tc[1]/w:tcPr/w:vMerge)]
                            [w:pPr/w:pStyle/@w:val=('Tablebody')]
                            [. &gt;&gt; $current_table]">
        <span class="srcpath"><xsl:value-of select="string-join(($base-dir, replace(@srcpath,'^(.*word/document\.xml)','word/document.xml')), '')"/></span>
        Dieser Absatz wurde als Tabellenkopf ausgezeichnet. Vorher (innerhalb dieser Tabelle) befinden sich allerdings schon Tablebody-Zellen. Durch die Konvertierung wurden alle als Kopf ausgezeichneten Absätze nach ganz oben in die Tabelle verschoben. Wenn dies nicht gewünscht ist, Auszeichnung bitte korrigieren und noch einmal konvertieren.
      </report>
    </rule>
  </pattern>
  
    <pattern id="crop">
      <rule context="a:graphic">
      <report id="cropped_image" role="warning" test="a:graphicData/pic:pic/pic:blipFill/a:srcRect[@r or @b]">
        <span class="srcpath"><xsl:value-of select="string-join(($base-dir, replace((ancestor::w:p,ancestor::w:p/following-sibling::*[1])[1]/@srcpath,'^(.*word/document\.xml)','word/document.xml')), '')"/></span>
       Dieses Bild wurde zugeschnitten
      </report>
    </rule>
  </pattern>
  
  <pattern id="instrText">
    <rule context="*[w:r[w:instrText]/following-sibling::*[1][self::m:oMath and following-sibling::*[1][self::w:r/w:instrText]]]">
      <report id="instrText_math" role="warning" test="true()">
        <span class="srcpath"><xsl:value-of select="string-join(($base-dir, replace(@srcpath,'^(.*word/document\.xml)','word/document.xml')), '')"/></span>
        Hier wurde eine Formel innerhalb einer Feldfunktion verwendet.
      </report>
    </rule>
  </pattern>
  
  <pattern id="text-in-unnamed-field-function">
    <rule context="w:r[.//w:t[normalize-space()]]
                      [preceding-sibling::*[1]
                         /self::w:r[count(*) = 1]
                                   [w:fldChar[@w:fldCharType = 'separate']]
                                   
                      ][preceding-sibling::*[2]
                        /self::w:r[count(*) = 1]
                                  [w:fldChar[@w:fldCharType = 'begin']]
                      ]">
      <report id="field_function_text" role="warning" test="true()">
        <span class="srcpath"><xsl:value-of select="string-join(($base-dir, replace(@srcpath,'^(.*word/document\.xml)','word/document.xml')), '')"/></span>
        Hier steht Text, welche in einer fremdartigen Feldfunktion steht und ggf. nicht dargestellt werden sollte. Textstelle: <xsl:value-of select=".//w:t[normalize-space()]"/>
      </report>
    </rule>
  </pattern>
  
  <pattern id="drawing">
    <rule context="*:inline">
      <report id="scaled_image" role="warning" test="*:extent[@cx != parent::*/a:graphic//a:ext/@cx] or *:extent[@cy != parent::*/a:graphic//a:ext/@cy]">
        <span class="srcpath"><xsl:value-of select="string-join(($base-dir, replace((ancestor::w:p,ancestor::w:p/following-sibling::*[1])[1]/@srcpath,'^(.*word/document\.xml)','word/document.xml')), '')"/></span>
        Das Bild <xsl:value-of select="tokenize(//*:Relationship[@Id=current()//a:blip/@*:link]/@Target,'[/\\]')[last()]"/> wurde skaliert
      </report>
    </rule>
  </pattern>
  
  <pattern id="omath-formula">
    <rule context="m:oMath">
      <report id="mml_in_omml" role="fatal-error" test="descendant::o:OLEObject">
        <span class="srcpath"><xsl:value-of select="string-join(($base-dir, replace((ancestor::w:p,ancestor::w:p/following-sibling::*[1])[1]/@srcpath,'^(.*word/document\.xml)','word/document.xml')), '')"/></span>
        Hier wurde eine MathType-Formel in einer Word-Formel gefunden. Bitte ersetzen Sie die MathType-Formel.
      </report>
    </rule>
  </pattern>
  
  <pattern id="update-field-function">
    <rule context="*:fldSimple | *:fldChar">
      <report id="update_field_function" role="warning" test="@w:dirty and not(preceding::*[self::*:fldSimple or self::*:fldChar][@w:dirty])">
        <span class="srcpath">BC_orphans</span>
        In diesem Dokument wurden die Feldfunktionen nicht aktualisiert. Um eine korrekte Konvertierung zu gewährleisten, aktualisieren Sie bitte die Feldfunktionen vor der Konvertierung.
      </report>
    </rule>
  </pattern>
  
</schema>
